@model string
@{
    ViewData["Title"] = "Home Page";
}

<h1>delta_t Rebalance Performance Calculator</h1>
<p>Current build: @Model UTC (7ba802e) | <a href="https://github.com/HeBuwei/osu">GitHub</a></p>
<p>Keep in mind that this is <b>NOT</b> final result and its not meant to represent what rebalance will look like when it's done.</p>
<p>Please don't abuse it too hard because my server is incredibly slow and can't take so much work.<br><img src="https://i.imgur.com/Ny6rt6e.png" width="100%" /></p>
<p>If you have any questions about new PP formula please look at <a href="https://docs.google.com/document/d/1rymnSJ35avbWLwFe45twHnB5zM1BIQcj_mV6D4RE-H8/edit?usp=sharing">this</a> <b>incomplete</b> document.</p>
<p>If you have any questions about this website give me a shout at Discord (StanR#3012) or <a href="https://osu.ppy.sh/users/7217455">on osu!</a><br/>
<a href="https://www.donationalerts.com/r/stanr"><b>You can also help me cover some of the server costs!</b></a></p>
<span style="display: none;">while i appreciate the pentesting please send me a message if you find a bug instead of abusing it, thanks</span>
<hr/>
<div>
    @Html.ActionLink("Top", "Top", new { }, new { @class = "btn btn-info", @style = "width: 150px" })
</div>
<hr />
<div class="pb-2">
    <p>Try searching top before adding someone to calculation queue.</p>

    <form class="form-row align-items-right">
        <div class="col-auto" style="width: 300px;"><input type="text" id="username" name="username" class="form-control" placeholder="Username or user ID (preferable)" /></div>
        <div class="col-auto"><input type="submit" class="btn btn-secondary" value="Calculate" id="submit" /></div>
        <div class="col-auto"><p id="error" class="text-danger"></p></div>
    </form>

    <p id="expectedTime">Estimated wait time is unknown.</p>
</div>

<table class="table table-bordered table-sm" data-toggle="bootstrap-table" id="maintable"></table>

@section Scripts
{
    <script>
        $(function () {
            /* page load */
            $('#maintable').bootstrapTable({
                height: 500,
                columns: [
                    [
                        {
                            title: 'Queue',
                            field: 'name'
                        }
                    ]
                ]
            });
            updateQueue();
        });

        function updateQueue() {
            $.ajax({
                type: 'GET',
                url: "/GetQueue",
                complete: function(d) {
                    convertQueue(d.responseJSON);
                    setTimeout(function(){updateQueue();}, 3000);
                }
            });
        }

        /* add to queue */
        $("form").on('submit',
            function(e) {
                $.ajax({
                    type: 'POST',
                    url: "/AddToQueue",
                    data: "jsonUsername=" + $('#username').val(),
                    error: function (d) {
                        $('#error').html(d.responseJSON.err);
                    },
                    success: function (d) {
                        $('#error').html('');
                        $('#username').val('');
                        convertQueue(d);
                    }
                });

                //stop form submission
                e.preventDefault();
            });

        function convertQueue(json) {
            json.forEach(function(item, i, arr) {
                json[i] = { name: item };
            });
            $('#maintable').bootstrapTable('load', json);
            var waitTime = (json.length + 1) * 5;
            if (waitTime > 60)
                $('#expectedTime').html('Estimated wait time is ~' + (waitTime / 60).toFixed(1) + ' minutes.');
            else
                $('#expectedTime').html('Estimated wait time is ~' + waitTime + ' seconds.');
        }

    </script>
}