
@{
    ViewData["Title"] = "Top";
}

<h1>Top</h1>
<table class="table table-bordered table-striped table-sm" data-toggle="bootstrap-table" id="maintable"></table>

@section Scripts
{
    <script>
        $(function () {
            $('#maintable').bootstrapTable({
                pageSize: 50,
                pageList: [50, 100, 150, 200, 'unlimited'],
                pagination: true,
                search: true,
                columns: [
                    [
                        {
                            field: 'place',
                            title: '#',
                            width: 32,
                            align: 'center'
                        }, {
                            title: 'Player',
                            field: 'name',
                            sortable: true,
                            align: 'center'
                        }, {
                            title: 'Live PP',
                            field: 'livePP',
                            sortable: true,
                            align: 'center'
                        }, {
                            title: 'Local PP',
                            field: 'localPP',
                            sortable: true,
                            align: 'center'
                        }, {
                            title: 'PP Change',
                            field: 'ppLoss',
                            sortable: true,
                            align: 'center'
                        }
                    ]
                ]
            });

            $.ajax({
                url: "/GetTop",
                success: function(json){
                    json.forEach(function (item, i, arr) {
                        item.name = "<a href=\"/user/" + item.jsonName + "\">" + item.name + "</a>";
                        item.ppLoss = (item.ppLoss<=0?"":"+") + item.ppLoss.toFixed(1);
                    });
                    $('#maintable').bootstrapTable('load', json);
                }
            });
        });
    </script>
}